.mainContainer{  
    padding-top: 3em; 
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    background-image: url(src/assets/images/green-leaves-7660080_1920.jpg);
    max-width: 100%;
    
}
.recipeContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 480px;
    background-color: #B8CEC7;
    margin: 40px;
    border-radius: 4px;
    font-family: "roboto";
    color: #403F3F;
}
.titleRecipe{
    font-family: "yeseva one";
    padding-top:20px;
    margin-bottom: 10px;
    text-align: center;
}
.titleRecipe:hover{
    color: #5D887B;
    cursor: pointer;
    font-size:22px;
}
.descriptionRecipe {
    font-size: 16px;
    width: 180px;
    text-wrap:wrap;
    margin:5px;
}
.timeRecipe{
    margin:5px;
    font-weight: bold;
    font-size: 14px;
}

.readButton{
    max-width: 150px;
    min-height: 40px;
    border-color: #ffffff;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
    color: #403F3F;
    margin:5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding:10px;
}
.readButton:hover{
    cursor: pointer;
    background-color: #5D887B;
    border-color: #859c95;
    color: white;
    font-weight: bold;
}
@media (450px <= width <= 768px){
    .mainContainer{
        grid-template-columns:repeat(2, minmax(250px, 1fr));
    }
    .descriptionRecipe{
        max-width: 160px;
        margin:2px;
    } 
    
        }
@media (375px <= width <= 450px){
    .mainContainer{
        grid-template-columns:auto;
        
    } 
    .descriptionRecipe{
        max-width: 160px;
        margin:2px;
    } 
            
        }        
@media (width < 375px){
    .mainContainer{
        grid-template-columns:auto;

    } 
    
        }
