
@media (width <= 375px){
    
    .main{
        font-size: 12px;
    }
    .recipeForm{
        max-width: 280px;
    }
    .titleInput{
        width:200px;
    }
    .formButton{
        font-size: 12px;
    }
    
    }
@media (375px <= width <= 768px){
    .titlePage{
        
        font-size: 12px;
    }
    .main{
        font-size: 12px;
    }
    .recipeForm{
        max-width: 360px;
    }
    .formButton{
        font-size: 12px;
    }
    
    }
    