.mainHome{
    height: 80%;
    background-image: url(../assets/images/glass.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top:3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    color: #403F3F;
}

.h2Home{
    font-weight: normal;
    
}