.titlePage{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "yeseva one";
    color: #403F3F;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom:60px;
    font-family: "roboto";
}

.recipeForm{
    display:flex;
    flex-direction: column;
    width: 640px;
    height: 580px;
    background-color: #B8CEC7;
    border-radius: 6px;
    padding:20px;
}
.recipeForm > label{
    padding-left:10px;
    padding-top: 20px;
    
}
.recipeForm input{
    margin: 10px;
    border-radius: 4px;
    border-style: none;
    
}
.titleInput{
    width:280px;
    height: 70px;
}
.descriptionText{
    margin: 10px;
    border-style: none;
    border-radius: 4px;
    font-family: "roboto";
}
.timeInput{
    width:80px;
    height: 70px;
}
.buttonBox{
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 60px;
}

.formButton{
    width:12vw;
    height: 6vh;
    border-style: none;
    border-radius: 6px;
    background-color: white;
    font-size: 16px;
    color: #403F3F;
}
.formButton:hover{
    background-color: #5D887B;
    cursor: pointer;
}