.navbar{
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to right, #95B5AB 0%, #5D887B 50%,#95B5AB 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.pageLinks{
    margin-left: 20px;
    display: flex;
    gap: 28px;
    font-family: "Roboto";
    font-size: 18px;
}
.title{
    font-family: "yeseva one";
}
.search{
    margin-right: 20px;
}
.inputSearch{
    font-family: "Roboto";
    font-size: 16px;
    border-radius: 18px;
    padding:5px;
    border-style: none;
}
