.footer{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #403F3F;
        background-color: #B8CEC7;
        font-family: "roboto";
        font-size: 14px;
}
.policy{
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.email{
    font-weight: 600;
}
.media{
    gap: 10px;
    display: flex;
    margin-right: 20px;
}
.mediaImg1{
    width: 24px;
    height:24px;
}
.mediaImg2{
    width: 24px;
    height:24px;
}