.logInForm{
    width: 360px;
    height: 440px;
    background: transparent;
    margin: 120px;
    border-radius: 6px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #80aba2;
}
.logInTitle{
    margin: 20px;
    color: rgb(223, 235, 233);
    display: flex;
    justify-content: center;
}
.inputBoxes{
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.inputLogIn{
    min-width: 240px;
    border-style: none;
    border-radius:100px;
    border:1px solid #80aba2;
    padding:10px;
    background-color: rgba(0, 0.5, 0.5, 0.3);
    max-width: 250px;
    margin-left: 10px;
    
}
input::placeholder{
    color: rgb(223, 235, 233);
    opacity: 0.8;
}
.divButton{
    display: flex;
    justify-content: center;
}
.logInButton{
    font-weight: bold;
    min-width: 240px;
    width: 100px;
    min-height: 40px;
    background-color: rgb(223, 235, 233);
    border-radius:100px;
    border-style: none;
    box-shadow: 0 0 8px #80aba2;
    margin-top: 20px;
    color:#403F3F;
    font-size: 16px;
}
.logInButton:hover{
    background-color: #80aba2;
    cursor: pointer;
}
.createAccount{
    color: white;
    display: flex;
    justify-content: center;
}
.register{
    font-weight: bold;
    margin-left:10px;
    cursor: pointer;
}
.register:hover{
    color: #80aba2;
}